.header-info {
    color: var(--blue3);
    background-color: var(--green4);

    .title {
        padding: 20px;
        font-size: 40px;
    }
    .subtitle {
        text-align: end;
        background-color: var(--green5);
        font-size: 20px;

        p {
            margin-right: 50px;
        }
    }
}

#page-nav {
    position: sticky;
    top: 0;
    background-color: var(--blue3);

    .nav-buttons {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        gap: 10px;
        justify-content: center;

        button {
            font-size: 20px;
            border-radius: 10px;
            border-color: transparent;
            background-color: var(--blue3);
            color: var(--peach3);
            transition: background-color 0.3s ease-in-out;
        }

        :hover {
            background-color: var(--green3);
        }
    }
}

main {
    .topic {
        justify-content: flex-start;
        background-color: var(--blue3);
        font-size: 16px;
        padding: 11.2px 27.2px;
        color: var(--peach3);
    }

    section {
        margin-top: 100px;
    }

    section:before {
        background-color: var(--blue3);
        content: "";
        display: block;
        height: 41px;
        margin-top: -41px;
        visibility: hidden;
        opacity: 0;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0 40px;

        img {
            width: 1000px;
            height: 628px;
        }
    }

    .info {
        margin: 100px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 50px;

        .table-container {
            padding: 100px 0px 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-collapse: collapse;

            .table-head {
                font-weight: bold;
            }

            td {
                border: 1px solid black;
                padding: 10px;
            }
        }
    }

    #justification {

        display: flex;
        flex-direction: column;

        .justifications {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            font-size: 20px;
        }

        .case {
            padding: 20px;

            .image {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                margin: 20px;

                img {
                    width: 50%;
                }
            }

            #ofer-name {
                color: var(--green3);
            }
        }
    }

    #agenda {
        details {
            margin: 5px;
            padding: 20px;
            margin-left: 20px;
            transition: background-color 0.6s ease-in-out;
            border-radius: 20px;

            p,
            ul {
                margin-left: 40px;
            }
        }
    }

    .profiles-container {
        display: flex;
        flex-direction: row;
        padding: 10px;
        /* display: grid;
        grid-template-columns: repeat(2, 1fr); */
        gap: 10px;

        #income-profile,
        #graduation-profile {
            min-width: 500px;
            padding: 20px;
            color: var(--peach3);
            h1 {
                margin: 20px;
            }
        }

        #income-profile {
            display: flex;
            flex-direction: column;
            background-color: var(--green3);
            border-radius: 10px;

            .table-container {
                display: flex;
                justify-content: center;
                color: var(--blue3);
            }
        }

        #graduation-profile {
            background-color: var(--green4);
            border-radius: 10px;

            p {
                margin-left: 40px;
            }

            p,
            ul {
                color: var(--blue3);
            }

            ul {
                margin-left: 20px;
            }
        }
    }

    #reg-table-container {
        display: flex;
        justify-content: center;
        margin: 60px;

        #register-table-info {
            background-color: var(--background-color-alt-light);
            border-collapse: collapse;

            th,
            td {
                border: 1px solid black;
                padding: 10px;
            }

            tr:hover {
                background-color: var(--page-indent);
            }
        }
    }

    #buttons-container {
        display: flex;
        justify-content: end;
        margin-right: 10%;

        button {
            padding: 10px;
            border: 1px solid var(--background-color-alt-dark);
            background-color: var(--background-color-alt-light);
            border-radius: 5px;
        }
        :hover {
            background-color: var(--page-indent);
        }

        :active {
            background-color: var(--page-indent-alt);
        }
    }

    .skills{
        margin-top: 10px;

        blockquote{
            padding: 50px;

            h3{
                color: var(--green3);
            }
            p{
                color: var(--blue3);
                margin-top: 10px;
            }
        }
    }
}
