.header-info {
    position: sticky;
    top: 0;
    background-color: var(--green4);

    .title {
        padding: 20px;
        font-size: 40px;
        
    }
    .subtitle {
        text-align: end;
        background-color: var(--green5);
        font-size: 20px;

        p{
            margin-right: 50px;
        }
    }
}

.nav-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 10px;
    justify-content: center;
    background-color: var(--blue3);

    button {
        font-size: 20px;
        border-radius: 10px;
        border-color: transparent;

        background-color: var(--blue3);

        color: var(--peach3);

        transition: background-color 0.3s ease-in-out;
    }

    :hover {
        background-color: var(--green3);
    }
}

main {
    .topic {
        justify-content: flex-start;
        background-color: var(--blue3);
        font-size: 16px;
        padding: 11.2px 27.2px;
        color: var(--peach3);
    }

    

    section {
        margin-top: 100px;
    }
    
    section:before{
        background-color: var(--blue3);
        content: "";
        display: block;
        height: 149px;
        margin-top: -149px;
        visibility: hidden;
        opacity: 0;
    }

    .banner {
        display: flex;
        justify-content: center;
        margin: 40px 0 40px;
        img {
            width: 1000px;
            height: 628px;
        }
    }

    
    .info {
        margin: 100px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 50px;

        .table-container {
            padding: 100px 0px 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-collapse: collapse;

            .table-head {
                font-weight: bold;
            }

            td {
                border: 1px solid black;
                padding: 10px;
            }
        }
    }

    #justification {
        .justifications {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            font-size: 25px;
        }

        .case {
            padding: 20px;

            .image {
                display: grid;
                text-align: center;
                margin: 20px;
                img {
                    width: 600px;
                }
            }
            #ofer-name {
                color: var(--green3);
            }
        }
    }

    #agenda {

        details {
            padding: 20px;
            margin-left: 20px;
            transition: background-color 0.6s ease-in-out;
            border-radius: 20px;

            p,
            ul {
                margin-left: 60px;
            }
        }

        [open] {
            border: 1px solid var(--copper1);
            border-radius: 20px;
            background-color: var(--copper2);
        }
    }

    .profiles-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        #income-profile,
        #graduation-profile {
            h1 {
                margin: 20px;
            }

            /* min-width: 50%; */
            padding: 20px;
        }

        #income-profile {
            background-color: var(--page-sena-light);
            border-radius: 10px;
        }

        #graduation-profile {
            background-color: var(--page-sena-medium);
            border-radius: 10px;
        }
    }

    #table-container {
        display: flex;
        justify-content: center;
        margin: 60px;

        #register-table-info {
            background-color: var(--background-color-alt-light);
            border-collapse: collapse;

            th,
            td {
                border: 1px solid black;
                padding: 10px;
            }

            tr:hover {
                background-color: var(--page-indent);
            }
        }
    }

    #buttons-container {
        display: flex;
        justify-content: end;
        margin-right: 10%;

        button {
            padding: 10px;
            border: 1px solid var(--background-color-alt-dark);
            background-color: var(--background-color-alt-light);
            border-radius: 5px;
        }
        :hover {
            background-color: var(--page-indent);
        }

        :active {
            background-color: var(--page-indent-alt);
        }
    }
}
