header {

    

    .banner-sena{
        display: flex;
        align-items: center;
        padding: 16px 24px;

        .zajuna-logo{
            width: 166.88px;
            height: auto;
        }
        .sena-logo{
            width: 64px;
        }
    }

    .navbar {
        background-color: var(--toolbar);

        
        .nav-links {
            
            color: var(--background);
            
            
            font-size: 14.4px;

            ul {
                padding: 16px 24px;
                display: flex;
                list-style: none;
                justify-content: center;
                gap: 15px;
            }
        }
        a {
            text-decoration: none;
        }
        :visited{
            color: var(--background);
        }
        :not(:visited){
            color: var(--background);
        }
        :hover{
            color: var(--background-indent);
        }
        button{
            background-color: transparent;
            border: none;
            transition: background-color .3s ease-in;
        }
        button:hover{
            background-color: var(--button);
            cursor: cell;
        }
    }

    .title {
        font-size: 50px;
    }

    .subtitle {
        display: flex;
        justify-content: right;
        left: 50%;
    }
}
